NEXT_PUBLIC_FIREBASE_API_KEY=PASTE_MY_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=habeshagramweb.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=habeshagramweb
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=habeshagramweb.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=574133465888
NEXT_PUBLIC_FIREBASE_APP_ID=1:574133465888:web:41672c4f0c07b1d0d05d45
# Server-only football provider tokens
FREE_API_LIVE_FOOTBALL_DATA_RAPIDAPI_KEY=
FREE_API_LIVE_FOOTBALL_DATA_RAPIDAPI_HOST=free-api-live-football-data.p.rapidapi.com
FREE_API_LIVE_FOOTBALL_DATA_RAPIDAPI_BASE_URL=https://free-api-live-football-data.p.rapidapi.com
BREAKING_NEWS_RSS_URL=
